{{ define "main" }}
<section class="areas">
  {{ $areas := .Site.Taxonomies.areas }}
  {{ range $areaName, $pages := $areas }}
    <div id="{{ urlize $areaName }}" class="mb-8">
      <details class="md:hidden">
        <summary class="area-title">{{ $areaName }}</summary>
        <ul class="city-list grid gap-4 mt-2">
          {{ range sort $pages.Pages "Title" }}
            <li>
              <a class="city-card" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </details>
      <div class="hidden md:block">
        <h2 class="area-title">{{ $areaName }}</h2>
        <ul class="city-list grid md:grid-cols-3 gap-4">
          {{ range sort $pages.Pages "Title" }}
            <li>
              <a class="city-card" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
</section>
{{ end }}
